@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FCBE26;
  --error: #fd0e00;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  background-color: #10100e;
  color: #ffffe3;
}

.grecaptcha-badge {
  visibility: hidden;
}